# Milestone I

We aim to explore the link between farm productivity and pesticide use, considering the effects of temperature and rainfall. We want to identify countries that have boosted crop yields without increasing pesticide use. By studying these nations, we seek to uncover methods for better sustainable farming. Our key question is: “Which countries have raised crop output while stabilizing or reducing pesticide use, and how do weather conditions factor in?” Sustainable farming is crucial to being good sheppard of our planet's finite resources. The overuse of pesticides can degrade soil quality, harm wildlife, and even contaminate water supplies which can be a health hazard to humans. In an era where food security and environmental health are intertwined, it is important to find ways to to reduce our dependence on pesticides. By answering our question, we hope to provide insights that can be applied globally, a roadmap for agricultural practices, a way to nurture land and its inhabitants. We want to highlight sustainable farming and bring value to this context.

In [1]:
import pandas as pd
import numpy as np
import altair as alt
import geopandas as gpd
import matplotlib.pyplot as plt
from matplotlib.colors import Normalize
from IPython.display import display, Markdown

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# Load Datasets

In [2]:
pest_df = pd.read_csv('./pesticides.csv')
rain_df = pd.read_csv('./rainfall.csv')
temp_df = pd.read_csv('./temp.csv')
yield_df = pd.read_csv('./yield.csv')

# Explore Datasets

In [39]:
# Function to print various data attributes
def print_info(df, name):
    # display(Markdown(f'### **{name}**'))
    display(Markdown('**Dataframe info:**'))
    print(df.info())
    print('\n')
    display(Markdown('**Number of unique values per column:**'))
    print(df.nunique())
    print('\n')
    display(Markdown('**Summary statistics per column:**'))
    print(df.describe().round(0).astype(int))
    print('\n')

    display(Markdown('**Columns with missing values in temp_df:**'))
    missing_values = df.isna().sum()
    print(missing_values[missing_values > 0].to_string(header=False))
    print('\n')

## temp_df

The dataset contains information about average annual temperature across different years and countries.ay be needed.

In [40]:
print_info(temp_df, 'temp_df')

**Dataframe info:**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71311 entries, 0 to 71310
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      71311 non-null  int64
 1   country   71311 non-null  object
 2   avg_temp  68764 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.6+ MB
None

**Number of unique values per column:**

year         271
country      137
avg_temp    3303
dtype: int64

**Summary statistics per column:**

        year  avg_temp
count  71311     68764
mean    1906        16
std       67         8
min     1743       -14
25%     1858        10
50%     1910        16
75%     1962        24
max     2013        31

**Columns with missing values in temp_df:**

avg_temp    2547

### Comments:

##### Attributes:
 - year: The year in which the data was collected.
 - country: The name of the country.
 - avg_temp: The average annual temperature in presumably degrees Celsius (although the unit is not explicitly stated).

##### Note:
There are some missing values in the avg_temp column. These will need to be addressed in the data preprocessing stage.

## rain_df

In [41]:
print_info(rain_df, 'rain_df')

**Dataframe info:**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6727 entries, 0 to 6726
Data columns (total 3 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0    Area                          6727 non-null   object
 1   Year                           6727 non-null   int64
 2   average_rain_fall_mm_per_year  5953 non-null   object
dtypes: int64(1), object(2)
memory usage: 157.8+ KB
None

**Number of unique values per column:**

 Area                            217
Year                              31
average_rain_fall_mm_per_year    173
dtype: int64

**Summary statistics per column:**

       Year
count  6727
mean   2001
std      10
min    1985
25%    1993
50%    2001
75%    2010
max    2017

**Columns with missing values in temp_df:**

average_rain_fall_mm_per_year    774

### Comments:

##### Attributes:
 - Area: This seems to represent geographical areas, likely countries.
 - Year: This represents the year for the data point.
 - average_rain_fall_mm_per_year: average rainfall in mm per year for the given area and year.

##### Notes:

Data type inconsistencies can hinder numerical analyses and visualizations. The presence of string data in what should be a numeric column (average_rain_fall_mm_per_year) will need conversion to float or integer for meaningful statistical operations.

The broad scope in terms of years and areas provides a rich dataset but also introduces complexity when combining with other datasets. Data alignment and aggregation may be needed.

## pest_df

The dataset contains information about pesticide use across different years and areas (presumably countries).

In [42]:
print_info(pest_df, 'pest_df')

**Dataframe info:**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4349 entries, 0 to 4348
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Domain   4349 non-null   object
 1   Area     4349 non-null   object
 2   Element  4349 non-null   object
 3   Item     4349 non-null   object
 4   Year     4349 non-null   int64
 5   Unit     4349 non-null   object
 6   Value    4349 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 238.0+ KB
None

**Number of unique values per column:**

Domain        1
Area        168
Element       1
Item          1
Year         27
Unit          1
Value      2825
dtype: int64

**Summary statistics per column:**

       Year    Value
count  4349     4349
mean   2003    20303
std       8   117736
min    1990        0
25%    1996       93
50%    2003     1138
75%    2010     7869
max    2016  1807000

**Columns with missing values in temp_df:**

Series([], )

### Comments:

##### Attributes:
 - Domain: Appears to indicate the subject area of the data, which is 'Pesticides Use' in this case.
 - Area: The geographical area, which looks like the name of the country.
 - Element: Specifies what the data represents, i.e., 'Use' of pesticides.
 - Item: The type of pesticide used. It is listed as 'Pesticides (total)' in the initial rows.
 - Year: The year in which the data was collected.
 - Unit: The unit of measurement, which is 'tonnes of active ingredients'.
 - Value: The actual value, representing the amount of pesticides used.

### yield_df
The dataset contains 56,717 records and 12 columns.

In [43]:
print_info(yield_df, 'yield_df')

**Dataframe info:**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56717 entries, 0 to 56716
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Domain Code   56717 non-null  object
 1   Domain        56717 non-null  object
 2   Area Code     56717 non-null  int64
 3   Area          56717 non-null  object
 4   Element Code  56717 non-null  int64
 5   Element       56717 non-null  object
 6   Item Code     56717 non-null  int64
 7   Item          56717 non-null  object
 8   Year Code     56717 non-null  int64
 9   Year          56717 non-null  int64
 10  Unit          56717 non-null  object
 11  Value         56717 non-null  int64
dtypes: int64(6), object(6)
memory usage: 5.2+ MB
None

**Number of unique values per column:**

Domain Code         1
Domain              1
Area Code         212
Area              212
Element Code        1
Element             1
Item Code          10
Item               10
Year Code          56
Year               56
Unit                1
Value           36815
dtype: int64

**Summary statistics per column:**

       Area Code  Element Code  Item Code  Year Code   Year    Value
count      56717         56717      56717      56717  56717    56717
mean         126          5419        112       1990   1990    62095
std           75             0        101         16     16    67836
min            1          5419         15       1961   1961        0
25%           58          5419         56       1976   1976    15680
50%          122          5419        116       1991   1991    36744
75%          184          5419        125       2004   2004    86213
max          351          5419        489       2016   2016  1000000

**Columns with missing values in temp_df:**

Series([], )

### Comments:

##### Attributes:
 - Domain Code, Domain, Element Code, Element, and Unit: These columns contain only 1 unique value and are likely to be redundant for analysis.
 - Area Code and Area: Represent the geographical location with 212 unique areas.
 - Item Code and Item: Indicate the type of crop, with 10 unique crop types.
 - Year Code and Year: Represent the year data was collected, with 56 unique years.
 - Value: Represents crop yield and contains 36,815 unique val

##### Notes:

The data types are mixed: integer types (Area Code, Element Code, Item Code, Year Code, Year, Value) and object types (Domain Code, Domain, Area, Element, Item, Unit).ues.

## Clean Data

### Rename columns
We will rename some columns to be consistent among the dataframes and make later data merges easier

In [44]:
temp_df.rename(columns = {'year':'Year','country':'Country','avg_temp':'Average_Temperature'},inplace = True)
rain_df.rename(columns = {' Area':'Country','average_rain_fall_mm_per_year':'Average_Rainfall'},inplace = True)
yield_df.rename(columns = {'Area':'Country','Value':'Yield'},inplace = True)
pest_df.rename(columns = {'Area':'Country','Value':'Pesticides'},inplace = True)

### Subset Dataframes
We will subset the dataframes to take only the columns of interest

In [46]:
column_mask_pest = ['Country', 'Year', 'Pesticides']
column_mask_yield = ['Country', 'Item', 'Year', 'Yield']

pest_df = pest_df[column_mask_pest]
yield_df = yield_df[column_mask_yield]

### Yield
The yield dataset contains information on individual crops, for our analysis we will combine these and sum the totals for that country by year.

In [48]:
yield_df = yield_df.groupby(['Country','Year'])['Yield'].sum().reset_index()
yield_df

           Country  Year   Yield
0      Afghanistan  1961  126077
1      Afghanistan  1962  115592
2      Afghanistan  1963  119100
3      Afghanistan  1964  127040
4      Afghanistan  1965  129396
...            ...   ...     ...
10567     Zimbabwe  2012  313366
10568     Zimbabwe  2013  303062
10569     Zimbabwe  2014  305570
10570     Zimbabwe  2015  297742
10571     Zimbabwe  2016  301464

[10572 rows x 3 columns]

### Year ranges

In [49]:
print(f"Year range in pesticides.csv {pest_df['Year'].min()} - {pest_df['Year'].max()}")

Year range in pesticides.csv 1990 - 2016

## Data Integrity Findings

### Missing Values
Both the rainfall and temp datasets have missing values, and we will need to explore these datasets further to understand why these data are missing, whether they are missing completely at random, missing at random, or not at random. Is there some pattern or reason that they may be missing? With these types of datasets, given the time frame on the rainfall and temperature datasets, data may not be available due to the time frame; likely, it was never collected or not available that long ago. Also, given that we are looking at data by country, some countries may not report their data. We suspect some values may be missing at random, but we believe it's more likely due to the aforementioned systemically missing values. Let's investigate.

#### temp.csv
We hypothesize that the missing values might be systematically absent or unavailable for specific time periods. To delve deeper into this, we'll employ the Altair visualization library to plot the frequency of these missing values and identify potential concentrations. Given the extensive range of years in this dataset, we've opted to group them into bins for a clearer visualization. Grouping the data in 10-year intervals strikes a balance between granularity and clarity, enabling us to pinpoint where values may be absent.

In [51]:
bin_size = 10
min_year_temp = temp_df["Year"].min()
max_year_temp = temp_df["Year"].max()
bins_temp = list(range(int(min_year_temp), int(max_year_temp) + bin_size, bin_size))

bin_labels_temp = [f"{i}-{i + bin_size - 1}" for i in bins_temp[:-1]]
temp_df["Year_Bin"] = pd.cut(temp_df["Year"], bins=bins_temp, labels=bin_labels_temp, right=False)
temp_missing_by_bin = temp_df.groupby("Year_Bin", observed=True)["Average_Temperature"].apply(lambda x: x.isnull().mean())

temp_missing_df = temp_missing_by_bin.reset_index()
temp_missing_df.columns = ['Year_Bin', 'Missing_Proportion']

temp_chart = alt.Chart(temp_missing_df).mark_bar().encode(
    x=alt.X('Year_Bin:O', title='Year Bin', axis=alt.Axis(labelAngle=-45)),
    y=alt.Y('Missing_Proportion:Q', title='Average Proportion of Missing Values'),
    tooltip=['Year_Bin', 'Missing_Proportion']
).properties(
    title='Average Proportion of Missing Values by Year Bin in Temperature Dataset',
    width=600,
    height=400
)

temp_chart

alt.Chart(...)

From this visualization, we can see that most missing values are from about 1900 and earlier. This supports our hypothesis that the missing values are unavailable from an earlier period for some countries and not due to being missing at random or due to data corruption. To further evaluate this, we can check the count of missing values from 1900 onwards. 



We see that there are no missing temperature values from 1900 onwards. Since our main question related to this project is about pesticide use and it's respective dataset only has data from 2016, we can safely remove these datasets by subsetting the data from 1900 onwards.

In [52]:
temp_df[temp_df["Year"] >= 1900].isnull().sum()

Year                     0
Country                  0
Average_Temperature      0
Year_Bin               345
dtype: int64

In [53]:
temp_df_cleaned = temp_df[temp_df["Year"] >= 1900].copy()
temp_df_cleaned = temp_df_cleaned.drop(columns=['Year_Bin'])
temp_df_cleaned

       Year        Country  Average_Temperature
51     1900  Côte D'Ivoire                26.12
52     1901  Côte D'Ivoire                25.92
53     1902  Côte D'Ivoire                25.59
54     1903  Côte D'Ivoire                25.48
55     1904  Côte D'Ivoire                25.24
...     ...            ...                  ...
71306  2009         Mexico                21.76
71307  2010         Mexico                20.90
71308  2011         Mexico                21.55
71309  2012         Mexico                21.52
71310  2013         Mexico                22.19

[39330 rows x 3 columns]

#### rain_df
Let's do a similar analysis for the rainfall dataset. We also suspect that there may be missing values from earlier periods.

In [54]:
bin_size = 5
min_year_rainfall = rain_df["Year"].min()
max_year_rainfall = rain_df["Year"].max()
bins_rainfall = list(range(int(min_year_rainfall), int(max_year_rainfall) + bin_size, bin_size))
bin_labels_rainfall = [f"{i}-{i + bin_size - 1}" for i in bins_rainfall[:-1]]

rain_df["Year_Bin"] = pd.cut(rain_df["Year"], bins=bins_rainfall, labels=bin_labels_rainfall, right=False)
rainfall_missing_by_bin = rain_df.groupby("Year_Bin")["Average_Rainfall"].apply(lambda x: x.isnull().mean())

rainfall_missing_by_year = rain_df.groupby("Year")["Average_Rainfall"].apply(lambda x: x.isnull().mean()).reset_index()
rainfall_missing_by_year.columns = ['Year', 'Missing_Proportion']

rainfall_chart = alt.Chart(rainfall_missing_by_year).mark_bar().encode(
    x=alt.X('Year:O', title='Year', axis=alt.Axis(labelAngle=-45)),
    y=alt.Y('Missing_Proportion:Q', title='Average Proportion of Missing Values'),
    tooltip=['Year', 'Missing_Proportion']
).properties(
    title='Average Proportion of Missing Values by Year in Rainfall Dataset',
    width=600,
    height=400
)

rainfall_chart

alt.Chart(...)

We can see that the missing values are almost perfectly distributed among all the years, suggesting that they may just be missing at random rather than unavailable or due to some other pattern. However, we should do a similar analysis grouping by country to see if values are missing for specific countries.

In [55]:
rainfall_missing_by_country = rain_df.groupby('Country')['Average_Rainfall'].apply(lambda x: x.isnull().sum()).reset_index()
rainfall_missing_by_country.columns = ['Country', 'Missing_Count']
rainfall_missing_by_country

                   Country  Missing_Count
0              Afghanistan              0
1                  Albania              0
2                  Algeria              0
3           American Samoa             31
4                  Andorra              0
..                     ...            ...
212  Virgin Islands (U.S.)             31
213     West Bank and Gaza              0
214                  Yemen              0
215                 Zambia              0
216               Zimbabwe              0

[217 rows x 2 columns]

Based on this, only a few countries may be missing values. Let's analyze this to see which ones might be the culprits here. The value of 31

In [56]:
rain_df[rain_df["Average_Rainfall"].isnull()]["Country"].unique()

array(['American Samoa', 'Aruba', 'Bermuda', 'British Virgin Islands',
       'Cayman Islands', 'Channel Islands', 'Curacao', 'Faroe Islands',
       'French Polynesia', 'Gibraltar', 'Greenland', 'Guam',
       'Hong Kong SAR, China', 'Isle of Man', 'Kosovo',
       'Macao SAR, China', 'Monaco', 'New Caledonia',
       'Northern Mariana Islands', 'San Marino',
       'Sint Maarten (Dutch part)', 'St. Martin (French part)', 'Tonga',
       'Turks and Caicos Islands', 'Virgin Islands (U.S.)'], dtype=object)

Okay, we can see that only certain countries are missing values, which is interesting. Let's see what this looks like if we graph it.

In [57]:
rainfall_missing_by_country = rainfall_missing_by_country[rainfall_missing_by_country["Missing_Count"] > 0]

rainfall_country_chart = alt.Chart(rainfall_missing_by_country).mark_bar().encode(
    x=alt.X('Country:O', title='Country', axis=alt.Axis(labelAngle=-45)),
    y=alt.Y('Missing_Count:Q', title='Average Proportion of Missing Values'),
    tooltip=['Country', 'Missing_Count']
).properties(
    title='Number of Missing Values by Country in Rainfall Dataset',
    width=600,
    height=400
)

rainfall_country_chart

alt.Chart(...)

This shows that the countries missing values all have 31 missing values.

In [58]:
rain_df.nunique()

Country             217
Year                 31
Average_Rainfall    173
Year_Bin              7
dtype: int64

There are only 31 unique values for the year column, so it seem that the missing values are concentrated in the list of countries from above and there are no values for these countries. We could try and supplement our dataset with another dataset that has these values, but is this necessary?

In [59]:
countries_with_missing_rainfall = rain_df[rain_df["Average_Rainfall"].isnull()]["Country"].unique()
subset_pest_df = pest_df[pest_df["Country"].isin(countries_with_missing_rainfall)]
subset_pest_df.describe()['Pesticides'].round(0).astype(int)

count    108
mean      59
std       58
min        9
25%       15
50%       28
75%       73
max      160
Name: Pesticides, dtype: int32

In [60]:
pest_df.describe()['Pesticides'].round(0).astype(int)

count       4349
mean       20303
std       117736
min            0
25%           93
50%         1138
75%         7869
max      1807000
Name: Pesticides, dtype: int32

We can see that these countries have very low amounts of pesticide use compared to the rest of the countries, suggesting that they may not be useful for our analysis. We decided to remove these rows from the dataset.

In [61]:
rain_df_cleaned = rain_df[~rain_df["Country"].isin(countries_with_missing_rainfall)]
rain_df_cleaned = rain_df_cleaned.drop(columns=['Year_Bin'])
rain_df_cleaned.isnull().sum()

Country             0
Year                0
Average_Rainfall    0
dtype: int64

We can see now that there are no missing values remaining in the rainfall dataset. 

Now, let's revisit our 4 datasets and check that we have addressed missing values.

In [63]:
print("Missing values in temp_df:", temp_df_cleaned.isna().sum().sum())
print("Missing values in rain_df:", rain_df_cleaned.isna().sum().sum())
print("Missing values in pest_df:", pest_df.isna().sum().sum())
print("Missing values in yield_df:", yield_df.isna().sum().sum())

Missing values in temp_df: 0
Missing values in rain_df: 0
Missing values in pest_df: 0
Missing values in yield_df: 0

Great! We no longer have any missing values in any of the four datasets. Let's move on to data integrity, types,

#### Data Integrity

In [65]:
rain_df.dtypes

Country               object
Year                   int64
Average_Rainfall      object
Year_Bin            category
dtype: object

The Average_Rainfall column is cast as object, which suggests that it may be in string format, but attempting to cast as a float using `rain_df['Average_Rainfall'].astype(float)`, causes an error that it could not convert string to float: `..`

Let's explore this to see what's going on.

In [66]:
rain_df['Average_Rainfall'] = rain_df['Average_Rainfall'].astype(str)
non_numeric_rain = rain_df[~rain_df['Average_Rainfall'].str.isnumeric()]
non_numeric_rain['Average_Rainfall'].value_counts()

Average_Rainfall
nan    774
..       6
Name: count, dtype: int64

In [67]:
rain_df[rain_df['Average_Rainfall'] == '..']

      Country  Year Average_Rainfall   Year_Bin
403   Bahamas  1985               ..  1985-1989
404   Bahamas  1986               ..  1985-1989
406   Bahamas  1989               ..  1985-1989
407   Bahamas  1990               ..  1990-1994
408   Bahamas  1991               ..  1990-1994
4061   Monaco  1985               ..  1985-1989

Since these Countries already have values in the other rows, we can just impute these values with those values. The rainfall dataset has only 217 unique values for the amount of rainfall and on closer inspection it appears that rainfall is the same value each year for each country. This makes it easy to impute the value, but it complicates part of our analysis since this dataset won't give us any information or insight into how yields may have changed over time with respect to changes in rainfall. Although, we can still see if there may be some degree of correlation between amount of rainfall and yield.

#### Duplicate Values

In [68]:
temp_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39330 entries, 51 to 71310
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 39330 non-null  int64
 1   Country              39330 non-null  object
 2   Average_Temperature  39330 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.2+ MB

In [69]:
temp_df_cleaned[temp_df_cleaned['Country'] == 'United Kingdom'].shape

(570, 3)

In [70]:
temp_df_cleaned[temp_df_cleaned['Country'] == 'United States'].shape

(5928, 3)

We can see that for some Country and Year combinations, there are no duplicates, only a single value for each combination, for example for the Bahamas.

In [71]:
temp_df_cleaned[temp_df_cleaned['Country'] == 'Bahamas'].shape

(114, 3)

In [72]:
temp_df_cleaned[temp_df_cleaned['Country'] == 'Bahamas']['Year'].nunique()

114

We can see that there are 114 rows for Bahamas and 114 unique years, indicating a single value per year for the Bahamas. However, if we look at other countries such as the United States or United Kingdom, there are multiple values per year. If we produce a dataframe of duplicate counts, we can see that duplicate counts very by country and year over time, with counts increasing over time. If we consider the United States, it goes from 22 up to 52. This suggests that the temp.csv file is missing information. Could these 52 values for the last 165 years represent the states, Puerto Rico, and Guam? This can complicate how we move forward with merging the data.

In [73]:
duplicate_counts_temp = temp_df.groupby(['Year', 'Country']).size().reset_index(name='Count')
duplicate_counts_temp = duplicate_counts_temp[duplicate_counts_temp['Count'] > 1]
duplicate_counts_temp.sort_values(by='Count', ascending=False).head(10)

       Year        Country  Count
27137  2003  United States     52
26589  1999  United States     52
14533  1911  United States     52
8937   1870  United States     52
11108  1886  United States     52
13985  1907  United States     52
24945  1987  United States     52
17547  1933  United States     52
19191  1945  United States     52
23986  1980  United States     52

In [74]:
top_countries = duplicate_counts_temp.groupby('Country')['Count'].sum().nlargest(7).index.tolist()

filtered_data = duplicate_counts_temp[duplicate_counts_temp['Country'].isin(top_countries)]

chart = alt.Chart(filtered_data).mark_line().encode(
    x='Year',
    y='Count',
    color='Country',
    tooltip=['Year', 'Count', 'Country']
).properties(
    title='Duplicate Counts by Year for Top 7 Countries',
    width=600,
    height=300
)

chart

alt.Chart(...)

From this chart we can see that there a few countries with multiple duplicates per year consistently over time. Given that these are larger countries, these temperature values may represent different geographical areas within the country. Again, this can add some complication to our analysis given the missing information.